/* общие */
:root {
  --main-font-roboto: Roboto, sans-serif;
  --title-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --fon-color: #ffffff;
  --backgraund-color: #f5f4fa;
  --main-color: #f5f5f5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}
.list {
  margin: 0;
  list-style: none;
}
.link,
.bodi-logo,
.footer-logo {
  text-decoration: none;
}
body {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
  color: var(--title-color);
  font-family: var(--main-font-roboto);
}

.item-workpeople,
.header,
.main-section-benefits,
.main-section-work,
.main-portfolio {
  background: var(--fon-color);
}
.main-section-workpeople {
  background: var(--backgraund-color);
}
.section-main-title,
.footer {
  background: #2f303a;
}
.link:hover,
.link:focus,
.link:active {
  color: var(--accent-color);
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}
.img-work,
.img-workpeople,
.img-portfolio {
  display: block;
}
/* logo */
.bodi-logo {
  margin-right: 93px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}
.accent-logo {
  padding: 0;
  color: var(--accent-color);
}
.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--fon-color);
}
/* heder */
.header {
  border-bottom: 1px solid #ececec;
}
.list,
.head-nav,
.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
}
.aside-list {
  margin: 0;
}
.head-nav {
  justify-content: space-between;
}
.nav-list .nav-item-link:not(:last-child) {
  margin-right: 50px;
}
.aside-item-link:not(:last-child) {
  margin-right: 50px;
}
.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: var(--main-font-roboto);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.studio,
.portfolio {
  color: var(--accent-color);
}
.aside-link-phone,
.aside-link-mail {
  margin: 0;
  font-family: var(--main-font-roboto);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
/* студія */
.section-main-title {
  padding-top: 200px;
  padding-bottom: 200px;
}
.container-main {
  text-align: center;
}
.main-title {
  width: 700px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-family: var(--main-font-roboto);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--fon-color);
}
.modal-btn {
  margin-left: auto;
  margin-right: auto;
  padding: 10px, 32px;
  font-family: var(--main-font-roboto);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--fon-color);
  background: var(--accent-color);
  border: none;
  border-radius: 4px;
  width: 216px;
  height: 50px;
}
.main-section-benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}
.item-benefits {
  width: 270px;
}
.item-benefits:not(:last-child) {
  margin-right: 30px;
}
.main-section-work {
  padding-bottom: 94px;
}
.item-work-img:not(:last-child) {
  margin-right: 30px;
}
.title-list-benefits {
  margin-bottom: 10px;
  font-family: var(--main-font-roboto);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}
.benefits {
  font-family: var(--main-font-roboto);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.container-workpeople {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list-section-workpeople {
  display: flex;
  padding: 0;
}
.item-workpeople:not(:last-child) {
  margin-right: 30px;
}
.item-workpeople {
  width: 270px;
  align-items: center;
}

.main-title-section-work,
.main-title-section-workpeople {
  margin: 0;
  margin-bottom: 50px;
  font-family: var(--main-font-roboto);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.item-workpeople {
  background: var(--fon-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.workpeople {
  padding-top: 30px;
  padding-bottom: 30px;
}
.title-name-workpeople {
  margin: 0;
  margin-bottom: 10px;
  font-family: var(--main-font-roboto);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.profession {
  font-family: var(--main-font-roboto);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/* Портфоліо */
.main-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
  display: block;
}

.container-filter {
  margin-bottom: 34px;
}
.list-section-filter {
  justify-content: center;
}
.item-filter-button:not(:last-child) {
  margin-right: 8px;
}
.container-portfolio .list {
  flex-wrap: wrap;
}
.btn-filter {
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: var(--main-font-roboto);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  height: 38px;
  background: var(--backgraund-color);
  border: none;
  border-radius: 4px;
}
.btn-filter:hover,
.btn-filter:focus {
  color: var(--fon-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
}
.hidden-header {
  display: none;
}
.list-section-portfolio {
  padding: 0;
}

.item-portfolio {
  display: block;
  margin-right: 30px;
  margin-bottom: 30px;
  padding: 0;
  box-sizing: border-box;
  width: 370px;
  background: #ffffff;
}
.container-portfolio-main {
  padding-bottom: 20px;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #eeeeee;
}
.item-portfolio:nth-child(3n + 3) {
  margin-right: 0;
}
.item-portfolio:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.title-portfolio {
  margin: 0;
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  font-family: var(--main-font-roboto);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}
.naim-portfolio {
  margin: 0;
  padding-left: 24px;
  padding-right: 24px;
  font-family: var(--main-font-roboto);
  font-size: 16px;
  line-height: 1.66;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/* footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo {
  display: block;
  margin-bottom: 20px;
}
.footer-address-link {
  display: block;
  margin: 0;
  margin-bottom: 9px;
  font-family: var(--main-font-roboto);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-address-link:last-child {
  margin-bottom: 0;
}
.address {
  display: block;
  margin: 0;
  margin-bottom: 9px;
  font-family: var(--main-font-roboto);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--fon-color);
}
